<h2>Sign Up</h2>
<input id="firstName" placeholder="First Name" />
<input id="middleName" placeholder="Middle Name" />
<input id="lastName" placeholder="Last Name" />
<input id="signupEmail" placeholder="Email" />
<input id="signupPass" type="password" placeholder="Password" />
<input id="signupPhone" placeholder="Phone" />
<input id="street" placeholder="Street" />
<input id="city" placeholder="City" />
<input id="province" placeholder="Province" />
<input id="postalCode" placeholder="Postal Code" />
<input id="country" placeholder="Country" />
<button onclick="signup()">Sign Up</button>
<button onclick="goBack()">Back</button>
