/* #region General Styles */
*, body, html {
   padding: 0;
   margin: 0;
   box-sizing: border-box; 
   font-family: 'Inter', sans-serif;
   font-size: 14px;
}
body {
    background-color: #00170e;
    overflow-x: hidden;
}
:root {
    --main-color-green: #00bb68;
    --main-color-darkgreen: #00361f;
    --main-color-lightgreen: #006c3d;
    --unique-color-yellow: #b9d401;
    --big-font-size: 4.06rem;
    --biggest-font-size: 8rem;
}
section {
    height: 90vh;
    width: 100vw;
    margin: auto;
}
/* #endregion General */

/* #region header */

#top {
    height: 3.5rem;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1.5rem auto;
}

#top li a, ul img{
    cursor: pointer;
}
#starbuck {
    width: 4rem;
    height: 4rem;
    color: white;
}
#top .icon {
    width: 2rem;
    height: 2rem;
    margin-left: 2.3rem;
}
#nav-selection {
    height: 100%;
    width: 35vw;
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
}

.nav-link{
    color: rgb(255, 255, 255);
    font-size: .9rem;
    text-decoration: none;
    padding: 13px 3vw;
    background-color: #808a86;
}

.nav-link:hover{
    background-color: var(--main-color-darkgreen);
    color: white;
}

/* #endregion  */

/* #region contentss */

/* #region contens-container */

#container {
    background-color: antiquewhite;
    width: 90vw;
    height: 80vh;
    margin: 1rem auto;
    border-radius: 15px;
    
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

/* #region left */
#left {
    
    width: 20%;
    height: 100%;
    border-radius: 15px 0 0 15px ;
}

#left ul{ 
    list-style: none;

}
#left #cat-title {
    font-size: 3.2rem;
    font
}
#left .category:hover {
    background-color: rgb(122, 111, 96);
    
}
#left .category {
    height: 15vh;
    cursor: pointer;
    margin-bottom: .3rem;
    color: rgb(20, 20, 20);
    font-size: 2rem;
    font-weight: 600;
}
/* #endregion */

/* #region right */
#right {
        background-color: rgb(136, 95, 43);
        width: 79%;
        height: 100%;
        border-radius: 0 15px 15px 0;
    }

/* #endregion */
/* #endregion contents-container*/

/* #endregion*/





